function Renderer(elem) {
    var htmlContent =
        '<div v-for="img in imgs">' +
        '<img width="25%" height="25%" v-bind:src="img.href"><br>' +
        '<img width="25%" height="25%" v-show="img.transformedHref" v-bind:src="img.transformedHref"><br>'
    '</div>';

    this.pagination = new Pagination();

    this.inject = function () {
        console.log('injected!');
        $(elem).append(htmlContent);
        var that = this;

        $.get('$baseUrl' + that.pagination.render()).done(function (result) {
            console.log(result);
            imageApp = new Vue({
                el: elem,
                data: {
                    imgs: result
                }
            });
        });
    }
}

function Pagination() {
    var page = 0;
    var pagingSegment = "/of/";

    this.nxt = function () {
        page++;
    }

    this.prv = function () {
        page--;
    }

    this.render = function () {
        return pagingSegment + page;
    }
}